body {
  background-color: rgb(253, 251, 251);
}

header {
  position: fixed;
  top: 0px;
  margin: 10px;
  display: inline-block;
}

#minha_foto {
  width: 300px;
  float: none;
}

h2 {
  margin-right: 20px;
}
