body {
  background-color: rgb(253, 251, 251);
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  margin: 0;
}

header {
  background-color: greenyellow;
  color: black;
  height: 120px;
  width: 100%;
  position: fixed;
  text-align: center;
  top: 0;
}

nav ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  background-color: black;
}

li a {
  text-decoration: none;
  color: white;
  font-size: larger;
}

li a:hover {
  background-color: greenyellow;
  color: black;
}

main {
  margin-top: 125px;
  padding: 0 30px;
  display: flex;
}

.lado-esquerdo {
  display: flex;
  flex-direction: column;
}

#meu_nome {
  text-decoration: none;
  color: black;
  font-size: 25px;
}

#minha_foto {
  width: 300px;
}

.content {
  text-align: justify;
  width: 500px;
}

aside {
  padding: 0 30px;
  width: 80%;
}

footer {
  bottom: 0;
  text-align: center;
  border: 1px solid greenyellow;
}
